@model IEnumerable<LivroModel>

@{
    Layout = "_Layout";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

<style>
    /* Estilo geral */
    body {
        font-family: 'Arial', sans-serif;
        background: linear-gradient(135deg, #f5f7fa, #7B68EE);
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
</style>

<div class="py-5">
    <div class="container">

        <div class="text-center mb-5">
            @if (ViewBag.UsuarioLogado)
            {
                <a class="btn btn-success mx-2" asp-controller="Livros" asp-action="Exportar"><i class="bi bi-file-earmark-plus mx-2"></i>Exportar Modelo</a>
                <a class="btn btn-success" asp-action="Cadastrar" asp-controller="Livros"><i class="bi bi-box-arrow-in-up mx-2"></i>Cadastrar Novo Livro</a>
            }
            else
            {
                <p>Por favor, faça login para cadastrar livros.</p>
            }
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-0">

            <!-- "Model -> lista de livros" -->
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var livro in Model)
                {
                    <div class="card mx-3 my-3 p-2" style="width: 12rem">

                        @if (livro.Capa != null)
                        {
                            <img src="/imagem/@livro.Capa" class="card-img-top" style="width: 175px; height: 150px" />
                        }
                        else
                        {
                            <img src="..." class="card-img-top" />
                        }

                        <div class="card-body">
                            <h5 class="card-title">@livro.Titulo</h5>
                        </div>

                        @if (ViewBag.UsuarioLogado)
                        {
                            <div class="card-body">
                                <a class="btn btn-warning w-100" asp-action="Editar" asp-controller="Livros" asp-route-id="@livro.Id">Editar</a>
                                <a class="btn btn-danger w-100" asp-action="Remover" asp-controller="Livros" asp-route-id="@livro.Id">Remover</a>
                            </div>
                        }
                    </div>
                }
            }

        </div>
    </div>
</div>
